
{% block content %}

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

</style>

<div class="container">
  <form action="check" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="room_name" class="form-control" placeholder="Nom de la salle" />
    </div>
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur" />
    </div>
    <button type="submit" class="btn btn-primary">Entrer dans la salle</button>
  </form>
</div>



{% endblock %}
