{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<header>
    <div id="logo">
      <a href="{% url 'index' %}">SolidAid</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Accueil</a>
        </li>
        <li>
          <a href="{% url 'register' %}">Nous Rejoindre</a>
        </li>
        <li>
          <a href="{% url 'actions' %}">Nos Actions</a>
        </li>
        <li>
          <a href="{% url 'contact' %}">Contact</a>
        </li>
        <li>
          <a href="{% url 'home' %}">Forum</a>
        </li>
        <li>
          <a href="{% url 'checkout' %}" id="donate">Faire un don</a>
        </li>
      </ul>
    </nav>
  </header>
<h1>DECOUVREZ TOUTES NOS ACTIONS !</h1>
<div class="image-gallery">
    {% for action in actions %}
    <div class="gallery-item">
        <img src="{{ action.image.url }}" alt="Image">
        <div class="description-overlay">
            <p class="image-description">{{ action.desc }}</p>
            <a href="{% url 'checkout' %}" class="image-button">Faire un don</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
